.customPacmanMarker {
  width: 0px;
  height: 0px;
  border-right: 15px solid transparent;
  border-top: 15px solid yellow;
  border-left: 15px solid yellow;
  border-bottom: 15px solid yellow;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
