// scss-lint:disable ImportantRule SelectorFormat
.nav-sidebar {
  background: $sidebar-bg;
  color: $sidebar-color;
  height: 100%;
  left: -340px;
  overflow: auto;
  position: fixed;
  top: 65px;
  transition: left .3s linear;
  width: 340px;
  z-index: 100;
}

.react-tabs__tab-panel {
  padding-bottom: 80px;
}

.sidebar-quantity-list {
  list-style: none;
  padding-left: 1rem;

  i {
    margin-right: .5rem;
    text-align: center;
    width: 20px;
  }

  ul {
    list-style: none;
    padding-left: 10px;
  }

  .depth-1 {
    li {
      display: inline-block;
      padding: .5rem;
    }
  }
}

.btn-controller {
  background: $sidebar-btn-controller-bg;
  border: 1px solid $sidebar-btn-controller-border-color;
  color: $sidebar-btn-controller-color;
  cursor: pointer;
  margin: 0;

  &.active {
    background: $sidebar-btn-controller-active-bg;
    border: 1px solid $sidebar-btn-controller-active-border-color;
    color: $sidebar-btn-controller-active-color !important;
  }
}

.sidebar-webcams-list {
  list-style-type: none;
  padding-left: 0;

  li {
    border-bottom: 1px solid $sidebar-list-border-bottom-color;
    border-top: 1px solid $sidebar-list-border-top-color;
    padding: .5rem 1rem;

    &.active {
      border-left: 5px solid $sidebar-list-active-border-color;
    }

    &:first-child {
      border-top-width: 0;
    }
  }
}

.sidebar-content {
  padding: .5rem 1rem;

  h2 {
    color: $sidebar-content-title-color;
    font-size: 1.4rem;
    margin: 1.2rem 0;
    text-shadow: 0 0 1px $black;
    text-transform: uppercase;
  }
}

// radar controller
.radar-controllers {
  align-items: center;
  display: flex;

  .ion-pause,
  .ion-play {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 10px;
  }
}

.radar-controller-slider {
  align-items: center;
  display: flex;

  .ion-minus {
    margin-right: 5px;
  }

  .ion-plus-round {
    margin-left: 12px;
  }
}
