// scss-lint:disable ImportantRule
.nav-sidebar {
  background: $sidebar-bg;
  color: $sidebar-color;
  height: 100%;
  left: -300px;
  overflow: auto;
  padding-bottom: 2.8rem;
  position: fixed;
  top: 65px;
  transition: left .3s linear;
  width: 300px;
  z-index: 100;
}

.sidebar-quantity-list {
  list-style: none;
  padding-left: 1rem;

  i {
    margin-right: .5rem;
    text-align: center;
    width: 20px;
  }

  ul {
    list-style: none;
    padding-left: 10px;
  }

  .depth-1 {
    li {
      display: inline-block;
      padding: .5rem;
    }
  }
}

.btn-controller {
  background: $sidebar-btn-controller-bg;
  border: 1px solid $sidebar-btn-controller-border-color;
  color: $sidebar-btn-controller-color;
  cursor: pointer;

  &.active {
    background: $sidebar-btn-controller-active-bg;
    border: 1px solid $sidebar-btn-controller-active-border-color;
    color: $sidebar-btn-controller-active-color !important;
  }
}
