// general
$transparent: transparent;
$white: #fff;
// navbar
$navbar-title-color: #fff;
// sidebar
$sidebar-bg: #292b2c; // #322039;
$sidebar-color: #fff;
$sidebar-btn-controller-bg: #666;
$sidebar-btn-controller-border-color: #444;
$sidebar-btn-controller-color: #fff;
$sidebar-btn-controller-active-bg: #fff800;
$sidebar-btn-controller-active-border-color: #fff800;
$sidebar-btn-controller-active-color: #000;
// map
$map-loading-bg: rgba(41, 43, 44, .8);
// spinner
$spinner-bg: #fff;
// tabs
$tabs-selected-bg: #444;
$tabs-selected-color: #fff800;
$tabs-border-color: #555;
// slider
$slider-color: #ddd;
$slider-bar-color: #00bcd4;
$slider-tap-color: rgba(0, 0, 0, 0);
$slider-handle-color: #000;
$slider-handle-bg: darken($sidebar-btn-controller-active-bg, 10%);
// scrollbar
$scrollbar-bg: #fff;
// lists
$sidebar-list-border-top-color: lighten($sidebar-bg, 5%);
$sidebar-list-border-bottom-color: darken($sidebar-bg, 5%);
$sidebar-list-active-border-color: #fff800;
$sidebar-content-title-color: #fff800;
// modal
$modal-overlay-bg: rgba(0, 0, 0, .7);
$modal-bg: #fff;
// data
$temperature-max-color: #f00;
$temperature-min-color: #00f;
// contents
$modal-station-main-bg: #f7f7f7;
$modal-station-main-border-color: #c7c7c7;
