// navbar
$navbar-title-color: #fff;
// sidebar
$sidebar-bg: #292b2c; // #322039;
$sidebar-color: #fff;
$sidebar-btn-controller-bg: #666;
$sidebar-btn-controller-border-color: #444;
$sidebar-btn-controller-color: #fff;
// map
$map-loading-bg: rgba(41, 43, 44, .8);
// spinner
$spinner-bg: #fff;
// tabs
$tabs-selected-bg: #444;
$tabs-selected-color: #fff800;
$tabs-border-color: #555;

